{% extends "base.html" %}
{% load includes %}
{% load filters %}

{% block acc-active %} class="active" {% endblock %}

{% block title %}
Accounts
{% endblock %}

{% block content %}

{% if object_list %}
<form method="post" action="/account/delete">
{% csrf_token %}


<table class="zebra-striped">
<thead>
<th><input id="check-all" type="checkbox" value="0" /></th>
<th>Name</th>
<th>Type</th>
<th style="text-align: right">Current Balance</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td><input type="checkbox" name="ids" value="{{ object.id }}" /></td>
<td><a href="/account/{{ object.id }}">{{ object.name }}</a></td>
<td>{{ object.account_type }}</td>
<td style="text-align: right">{{ object.balance|currency }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<input id="delete-button" class="btn danger" type="submit" value="Delete" />

</form>

{% if is_paginated %}
  {% get_pagination %}
{% endif %}

{% else %}

<p>You haven't created any accounts yet!</p>

{% endif %}

<p><a class="btn" href="/account/new">New</a></p>

{% endblock %}