{% extends "base.html" %}
{% load includes %}
{% load filters %}

{% block cat-active %} class="active" {% endblock %}

{% block title %}
Categories
{% endblock %}

{% block content %}

{% if object_list %}
<form method="post" action="/category/delete">
{% csrf_token %}


<table class="zebra-striped">
<thead>
<th><input type="checkbox" value="0" /></th>
<th>Name</th>
<th>Colour</th>
<th>Reportable</th>
<th style="text-align: right">Total spent</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td><input type="checkbox" name="ids" value="{{ object.id }}" /></td>
<td><a href="/category/{{ object.id }}">{{ object.name }}</a></td>
<td><span style="padding: 5px; background-color: #{{ object.colour }};">{{ object.colour }}</span></td>
<td>{{ object.reportable }}</td>
<td style="text-align: right">{{ object.spent|currency }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<input id="delete-button" class="btn danger" type="submit" value="Delete" />

</form>

{% if is_paginated %}
  {% get_pagination %}
{% endif %}

{% else %}

<p>You haven't created any categories yet!</p>

{% endif %}

<p><a class="btn" href="/category/new">New</a></p>

{% endblock %}