{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Transaction edit</h1>

{% include 'VdvreedeTFrontendBundle::form.html.twig' with {'form': edit_form, 'action_url' : path('transaction_update', { 'id' : entity.id } ) } %}

{% endblock %}