{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}

{% block title%}Edit Transaction {{transaction.id}}{% endblock %}

{% block content %}

<h3>Edit Transaction</h3>

{% include 'VdvreedeTFrontendBundle::form.html.twig' with {'form': form, 'action_url' : path('transaction_edit', { 'transId' : transaction.id } ) } %}

{% endblock %}