{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Transaction list</h1>

{% include 'VdvreedeTFrontendBundle::list.html.twig' with {
'header'    : ['Date', 'Description', 'Amount'], 
'entities'  : entities, 
'methods'   : ['DateString', 'Description', 'Amount'],
'hyperlink' : 'Description',
'edit_path' : 'transaction_edit',
'paginator' : paginator,
'item_type' : 'transaction'
} %}

<ul>
    <li>
        <a href="{{ path('transaction_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}