{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Transaction list</h1>

<form action="" method="post">
{% include 'VdvreedeTFrontendBundle::list.html.twig' with {
'header'    : ['', 'Date', 'Description', 'Amount', 'Account', 'Category'], 
'entities'  : entities, 
'methods'   : ['DateString', 'Description', 'Amount', 'Account', 'Category'],
'hyperlink' : 'Description',
'edit_path' : 'transaction_edit',
'paginator' : paginator,
'item_type' : 'transaction',
'show_checkbox' : true
} %}
</form>

<ul>
    <li>
        <a href="{{ path('transaction_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}