{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Transaction creation</h1>

{% include 'VdvreedeTFrontendBundle::form.html.twig' with {'form': form, 'action_url' : path('transaction_create') } %}

{% endblock %}