{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}

{% block title%}Edit Account {{account.name}}{% endblock %}

{% block content %}

<h3>Edit account</h3>

{% include 'VdvreedeTFrontendBundle::form.html.twig' with {'form': form, 'action_url' : path('account_edit', { 'accountId' : account.id } ) } %}

{% endblock %}