{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Account list</h1>

{% include 'VdvreedeTFrontendBundle::list.html.twig' with {
'header': ['Name', 'Description', 'Type'], 
'entities' : entities, 
'methods' : ['Name', 'Description', 'Type'],
'paginator' : paginator,
'hyperlink' : 'Name',
'edit_path' : 'account_edit',
'item_type' : 'account',
'show_checkbox' : true
} %}


<ul>
    <li>
        <a href="{{ path('account_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}