<table>
<th>Name</th>
<th>Type</th>
<th>Balance</th>
<th>Action</th>
{% for item in list %}
<tr>
<td>{{item.name}}</td>
<td>{{item.type}}</td>
<td>0</td>
<td><a href="{{ path('account_edit', {'accountId' : item.id}) }}">Edit</a></td>
</tr>
{% endfor %}
</table>