{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}

{% block title%}New Account{% endblock %}

{% block content %}

<h3>New account</h3>

{% include 'VdvreedeTFrontendBundle::form.html.twig' with {'form': form, 'action_url' : path('account_new')} %}

{% endblock %}