{% extends '::base.html.twig' %}

{% block body %}

<h3>New account</h3>

{% include 'VdvreedeTFrontendBundle:Account:form.html.twig' with {'form': form, 'action_url' : path('account_new')} %}

{% endblock %}