{% extends 'VdvreedeTFrontendBundle::layout.html.twig' %}
{% block content %}
<h1>Category list</h1>

{% include 'VdvreedeTFrontendBundle::list.html.twig' with {
'header'    : ['Name', 'Description'], 
'entities'  : entities, 
'methods'   : ['Name', 'Description'],
'paginator' : paginator,
'item_type' : 'category'
} %}

<ul>
    <li>
        <a href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}