{% extends "base.html" %}
{% load includes %}
{% load filters %}

{% block import-active %} class="active" {% endblock %}

{% block title %}
Importing
{% endblock %}

{% block content %}
<form method="post" action="/import/complete">
{% csrf_token %}
{% if object_list %}
<p>The following items appear to be duplicates already in the system. These items will NOT be imported unless you un check the box next them.</p>
<p><input type="submit" value="Complete import" class="btn" /></p>
<table class="zebra-striped">
<thead>
<th><input id="check-all" type="checkbox" value="0" checked /></th>
<th>Date</th>
<th>Description</th>
<th style="text-align: right;">Amount</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td><input type="checkbox" name="ids" value="{{ object.id }}" checked /></td>
<td>{{ object.date }}</td>
<td>{{ object.description }}</td>
<td style="text-align: right;">{{ object.amount }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>There were no duplicates found. Click complete to finish the import.</p>
<p><input type="submit" value="Complete import" class="btn" /></p>
{% endif %}
</form>
{% endblock %}