/* 
    Document   : layout
    Created on : Jul 5, 2011, 8:53:09 PM
    Author     : paul
    Description:
        Purpose of the stylesheet follows.
*/

#header {}

#top-menu {}

#page-header {}

#content {}

#footer {}

#account-widget {    
    top: 5px;
    right: 5px;
    position: absolute;
}
