{% extends "transaction_base.html" %}

{% block content %}
<h1>Add</h1>
<form action="" method="post">{% csrf_token %}
{% for field in form %}
<div class="clearfix{% if field.errors %} error{% endif %}">
	{{ field.label_tag }}
	<div class="input">
		{{ field }}
		{% if field.errors %}
		<span class="help-inline">
			{% for error in field.errors %}
			{{ error }} <br />
			{% endfor %}
		</span>
		{% endif %}
	</div> 
</div>
{% endfor %}
<div class="actions">
<input type="submit" class="btn primary" value="Submit" />
<a href="/transaction" class="btn">Cancel</a>
</div>
</form>

{% endblock %}