{% extends "transaction_base.html" %}

{% block trans-active %} class="active" {% endblock %}

{% block secondary-nav %}
<ul id="account-menu" class="nav secondary-nav">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">Account: {{ current_account }}</a>
		<ul class="dropdown-menu">
			<li><a href="/transaction">All</a></li>
			{% for account in accounts %}
			<li><a href="/transaction/?account={{ account.id }}">{{ account.name }}</a> <a href="/account/{{ account.id }}">edit</a></li>
			{% endfor %}
			<li class="divider"></li>
			<li><a href="/account/new">New account</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

{% block content %}
{% if object_list %}
<table class="zebra-striped">
<thead>
<th>Account</th>
<th>Date</th>
<th>Description</th>
<th>Amount</th>
<th>Category</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td>{{ object.account }}</td>
<td>{{ object.date }}</td>
<td><a href="/transaction/{{ object.id }}">{{ object.description }}</a></td>
<td>{{ object.amount }}</td>
<td>{{ object.category }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% if is_paginated %}
<div class="pagination">
    <ul>
        {% if paginator.has_previous %}
            <li class="prev"><a href="#">&larr; Previous</a></li>
        {% else %}    
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
        {% endif %}
		
		
		
        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </ul>
</div>
{% endif %}

{% else %}

<p>You haven't created any transactions yet!</p>

{% endif %}

<p><a class="btn" href="/transaction/new">New</a></p>

{% endblock %}