
<table class="read-only-list">
<thead>
{% for item in header %}
    <th>{{ item }}</th>
{% endfor %}
</thead>
<tbody>
{% for entity in entities %}
    <tr>
    {% for method in methods %}
        {% if method == hyperlink %}
        <td><a href="{{ path(edit_path, {'id' : entity.id }) }}">{{ entity|call_method(method) }}<a/></td>
        {% else %}
        <td>{{ entity|call_method(method) }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>

{% include 'VdvreedeTFrontendBundle::paginator.html.twig' with {
'paginator' : paginator,
'item_type' : item_type
} %}