
<table class="read-only-list">
<thead>
{% for item in header %}
    <th>{{ item }}</th>
{% endfor %}
</thead>
<tbody>
{% for entity in entities %}
    <tr>
    {% for method in methods %}
        <td>{{ entity|vdvreede_call_method(method) }} {% entity.{{method}}%}</td>
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>

{% include 'VdvreedeTFrontendBundle::paginator.html.twig' with {
'paginator' : paginator,
'item_type' : item_type
} %}