<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    {% block scripts %}
    {% endblock %}
    <title>t - {% block title %}{% endblock %}</title>
</head>

<body>
    <div id="masthead" class="topbar-wrapper" style="z-index:5;">
    	<div class="topbar">
	    	<div class="topbar-inner">
		    	<div class="container">
			    	<h3><a href="#">T</a></h3>
			        <ul class="nav">
			            <li {% block trans-active %} {% endblock %}><a href="/transaction/">Transactions</a></li>
			            <li {% block cat-active %} {% endblock %}><a href="/category/">Categories</a></li>
			        </ul>
			        {% block secondary-nav %}
			        {% endblock %}
		    	</div>
	    	</div>
    	</div>
    </div>
    
	<div class="container" style="margin-top: 50px;">
	{% for message in messages %}
	<div class="alert-message block-message {{ message.tags }}">
		<a class="close" href="#">×</a>
		<p>{{ message }}</p>
	</div>
	{% endfor %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </div>
</body>
</html>