{% extends "base.html" %}
{% load includes %}
{% load filters %}

{% block budg-active %} class="active" {% endblock %}

{% block title %}
Budget
{% endblock %}

{% block content %}

<div id="budget-type-nav">
<ul class="pills">
    <li {% if type == "yearly" %}class="active"{% endif %}><a href="/budget/show/yearly/today">Yearly</a></li>
    <li {% if type == "monthly" %}class="active"{% endif %}><a href="/budget/show/monthly/today">Monthly</a></li>
    <li {% if type == "weekly" %}class="active"{% endif %}><a href="/budget/show/weekly/today">Weekly</a></li>
</ul>
</div>

{% if object_list %}
<form method="post" action="/budget/delete">
{% csrf_token %}

<h2>Showing your {{ type }} budget from {{  date }}.</h2>
<table class="zebra-striped">
<thead>
<th><input type="checkbox" value="0" /></th>
<th>Category</th>
<th>Limit</th>
<th>Spent</th>
<th>Balance</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td><input type="checkbox" name="ids" value="{{ object.id }}" /></td>
<td><a href="/budget/{{ object.id }}">{{ object.category }}</a></td>
<td>{{ object.limit|currency }}</td>
<td>{{ object.spent|currency }}</td>
<td>{{ object.balance|currency }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<input id="delete-button" class="btn danger" type="submit" value="Delete" />

</form>

{% if is_paginated %}
  {% get_pagination %}
{% endif %}

{% else %}

<p>You haven't created any budgets yet!</p>

{% endif %}

<p><a class="btn" href="/budget/new">New</a></p>

{% endblock %}