{% extends "base.html" %}
{% load includes %}
{% load filters %}

{% block budg-active %} class="active" {% endblock %}

{% block title %}
Budget
{% endblock %}

{% block content %}

<div id="budget-type-nav">
<ul class="pills">
    <li {% if type == "yearly" %}class="active"{% endif %}><a href="/budget/show/yearly/today">Yearly</a></li>
    <li {% if type == "monthly" %}class="active"{% endif %}><a href="/budget/show/monthly/today">Monthly</a></li>
    <li {% if type == "weekly" %}class="active"{% endif %}><a href="/budget/show/weekly/today">Weekly</a></li>
</ul>
<p>
{% for k, v in times1.items %}
<a href="/budget/show/{{ type }}/{{ k }}">{{ v }}</a>
{% if forloop.last == False %}
    |
{% endif %}
{% endfor %}
</p>
</div>

{% if object_list %}
<form method="post" action="/budget/delete">
{% csrf_token %}

<h2>Showing your {{ type }} budget from {{  date }}.</h2>
<table class="zebra-striped">
<thead>
<th>Category</th>
<th>Status</th>
<th style="text-align: right">Limit</th>
<th style="text-align: right">Spent</th>
<th style="text-align: right">Balance</th>
</thead>
<tbody>
{% for object in object_list %}
<tr>
<td><a href="/budget/{{ object.id }}">{{ object.category }}</a></td>
<td>{% if object.balance < 0 %}<span class="label important">Over budget</span>{% else %}<span class="label success">On track</span>{% endif %}</td>
<td style="text-align: right">{{ object.limit|currency }}</td>
<td style="text-align: right">{{ object.spent|currency }}</td>
<td style="text-align: right">{{ object.balance|currency }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</form>

{% if is_paginated %}
  {% get_pagination %}
{% endif %}

{% else %}

<p>You haven't created any budgets yet!</p>

{% endif %}

<p><a class="btn" href="/budget/new">New</a> <a class="btn" href="/budget">Edit budgets</a></p>

{% endblock %}